@model App.Web.ViewModels.UpdateEmployerDetailsInBulkViewModel

@{
    ViewBag.Title = "Update Employer Details (Bulk)";
}

<div class="row mb-4">
    <div class="col-12 d-flex align-items-center justify-content-between">
        <h5 class="page-title">
            Update Employer Details (Bulk)
        </h5>
    </div>
</div>

<div class="row">
    <div class="col-md-11 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @if (TempData["Alert"] != null)
                {
                    @Html.Partial("_Alert", TempData["Alert"])
                }

                <form class="forms-sample" action="@Url.Action("UpdateEmployerDetailsInBulk")" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="form-group ">
                            <label>Browse excel and upload</label>
                            <input type="file" class="form-control input-sm" name="FileUpload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-xs mr-2">
                        <i class="mdi mdi-file-document"></i>
                        Upload and Validate
                    </button>

                    <br />
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            @if (TempData["BulkEmployerUpdateValidExcelData"] != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-fill-success" role="alert">
                                        <i class="mdi mdi-alert-circle"></i>
                                        Valid Data
                                    </div>

                                    @Html.Partial("_BulkEmployerUpdateValidExcelData", (List<App.Web.Models.BulkEmployerUpdateExcelData>)TempData["BulkEmployerUpdateValidExcelData"])
                                </div>

                                <a href="@Url.Action("SaveEmployerDetailsBulk", "SalaryAccountManagement")" class="btn btn-success btn-xs mr-2">
                                    <i class="mdi mdi-file-document"></i>
                                    Save
                                </a>
                            }
                        </div>
                        <div class="col-md-6">
                            @if (TempData["BulkEmployerUpdateInvalidExcelData"] != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-fill-danger" role="alert">
                                        <i class="mdi mdi-alert-circle"></i>
                                        Invalid Data
                                    </div>

                                    @Html.Partial("_BulkEmployerUpdateInvalidExcelData", (List<App.Web.Models.BulkEmployerUpdateExcelData>)TempData["BulkEmployerUpdateInvalidExcelData"])
                                </div>
                            }
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

