@model App.Web.ViewModels.ReviewMakerCheckerLogViewModel

@{
    ViewBag.Title = "Review Pending Created User";
}

<div class="row mb-4">
    <div class="col-12 d-flex align-items-center justify-content-between">
        <h5 class="page-title">
            Review and Approve/Reject Role
        </h5>
    </div>
</div>

<div class="row">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @if (TempData["Alert"] != null)
                {
                    @Html.Partial("_Alert", TempData["Alert"])
                }

                <form class="forms-sample" method="post">
                    @Html.AntiForgeryToken()
                    @Html.Partial("_MakerCheckerLog", Model.MakerCheckerLogModel)

                    <a href="@Url.Action("ViewPendingCreatedUsers")" class="btn btn-primary btn-xs mr-2">
                        <i class="mdi mdi-refresh"></i>
                        Back
                    </a>
                    &nbsp;
                    <button type="submit" class="btn btn-success btn-xs mr-2" formaction="@Url.Action("ApprovePendingCreatedUser")">
                        <i class="mdi mdi-check"></i>
                        Approve
                    </button>
                    &nbsp;
                    <button type="submit" class="btn btn-danger btn-xs mr-2" formaction="@Url.Action("RejectPendingCreatedUser")">
                        <i class="mdi mdi-alert-outline"></i>
                        Reject
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section customScripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#divQueryString").hide();
        });
    </script>
}

