@model App.Web.ViewModels.ViewTransactionReportViewModel

@{
    ViewBag.Title = "View Transaction Report";
}

<div class="row mb-4">
    <div class="col-12 d-flex align-items-center justify-content-between">
        <h5 class="page-title">
            View Transaction Report
        </h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @if (TempData["Alert"] != null)
                {
                    @Html.Partial("_Alert", TempData["Alert"])
                }

                <form class="forms-sample" action="@Url.Action("ViewTransactionReport")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        @if (Model.ShowFintechDropdown)
                        {
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">
                                        Fintech
                                    </label>
                                    @Html.DropDownListFor(model => model.FintechFinacleTermId, Model.FintechSelectListItems, new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        }
                        @Html.Partial("_ReportSearchDate", Model.ReportSearchDateModel)

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary btn-xs mr-2">
                                <i class="mdi mdi-file-document"></i>
                                Submit
                            </button>
                        </div>
                    </div>
                </form>

                <br />
                @if (!string.IsNullOrEmpty(Convert.ToString(TempData["ReportAction"])) && !string.IsNullOrEmpty(Convert.ToString(TempData["FintechFinacleTermId"])) && !string.IsNullOrEmpty(Convert.ToString(TempData["DateFrom"])) && !string.IsNullOrEmpty(Convert.ToString(TempData["DateTo"])))
                {
                    <iframe src="~/ReportViewer.aspx?action=@Convert.ToString(TempData["ReportAction"])&fintech=@HttpUtility.UrlEncode(Convert.ToString(TempData["FintechFinacleTermId"]))&from=@HttpUtility.UrlEncode(Convert.ToString(TempData["DateFrom"]))&to=@HttpUtility.UrlEncode(Convert.ToString(TempData["DateTo"]))" style="width:100%; " frameborder="0" scrolling="no" id="iframe" onload='javascript:resizeIframe(this);'></iframe>
                }

            </div>
        </div>
    </div>
</div>

@section CustomScripts
{
    <script type="text/javascript">
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>
}

