@model App.Web.Models.AccountDetailsModel

<p>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Customer ID</strong>
                </label>
                <span class="form-control">
                    @Model.CustomerId
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Account Number</strong>
                </label>
                <span class="form-control">
                    @Model.AccountNumber
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Account Name</strong>
                </label>
                <span class="form-control">
                    @Model.AccountName
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Account Type</strong>
                </label>
                <span class="form-control">
                    @Model.AccountType
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Freeze Code</strong>
                </label>
                <span class="form-control">
                    @Model.FreezeCode
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Product Code</strong>
                </label>
                <span class="form-control">
                    @Model.ProductCode
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Product</strong>
                </label>
                <span class="form-control">
                    @Model.Product
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Account Status</strong>
                </label>
                <span class="form-control">
                    @Model.AccountStatus
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Currency Code</strong>
                </label>
                <span class="form-control">
                    @Model.CurrencyCode
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Branch Code</strong>
                </label>
                <span class="form-control">
                    @Model.BranchCode
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Branch</strong>
                </label>
                <span class="form-control">
                    @Model.Branch
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Book Balance</strong>
                </label>
                <span class="form-control">
                    @Model.BookBalance
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Available Balance</strong>
                </label>
                <span class="form-control">
                    @Model.AvailableBalance
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Lien Amount</strong>
                </label>
                <span class="form-control">
                    @Model.LienAmount
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Uncleared Balance</strong>
                </label>
                <span class="form-control">
                    @Model.UnclearedBalance
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Mobile Number</strong>
                </label>
                <span class="form-control">
                    @Model.MobileNo
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Email</strong>
                </label>
                <span class="form-control">
                    @Model.Email
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Relationship Manager ID</strong>
                </label>
                <span class="form-control">
                    @Model.RelationshipManagerId
                </span>
            </div>
        </div>
    </div>
</p>