@model List<App.Web.Models.EmployerHistoryModel>

<table class="table table-striped table-hover table-responsive table-borderless table-sm">
    <thead>
        <tr>
            <th><strong>#</strong></th>
            <th><strong>Employer Name</strong></th>
            <th><strong>Created on</strong></th>
            <th><strong>By</strong></th>
            <th><strong>Approved on</strong></th>
            <th><strong>By</strong></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td> @(i + 1).</td>
                <td>@Html.DisplayFor(model => model[i].EmployerName)</td>
                <td>@Html.DisplayFor(model => model[i].CreatedOn)</td>
                <td>@Html.DisplayFor(model => model[i].CreatedBy) </td>
                <td>@Html.DisplayFor(model => model[i].ApprovedOn)</td>
                <td>@Html.DisplayFor(model => model[i].ApprovedBy)</td>
            </tr>
        }
    </tbody>

</table>
