@model List<App.Web.Models.PersonModel>

<p>
    <strong>
        FINTECH Contact Persons
    </strong>
    <div class="alert alert-fill-info" role="alert">
        <i class="mdi mdi-alert-circle"></i>
        NB: Fields marked <span style="color: red">*</span> are compulsory for any contact person.
    </div>
</p>
<p>
    <a href="#" onclick="addRow()" title="Add Row" class="btn btn-primary btn-xs">
        <i class="mdi mdi-check"></i>
        Add Row
    </a>
    &nbsp;
    <a href="#" onclick="removeRow()" title="Remove Last Row" class="btn btn-danger btn-xs">
        <i class="mdi mdi-alert-outline"></i>
        Remove Last Row
    </a>
</p>
<p>
    <table id="fintechContactPerson" class="table table-borderless table-sm table-responsive">
        <thead>
            <tr>
                <th> <strong>Surname</strong><span style="color: red">*</span> </th>
                <th> <strong>First Name</strong><span style="color: red">*</span> </th>
                <th> <strong>Middle Name</strong></th>
                <th> <strong>Mobile Number</strong></th>
                <th> <strong>Email Address</strong><span style="color: red">*</span> </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model[i].Surname, new { @class = "form-control input-sm", placeholder = "Surname here . . ." })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model[i].Firstname, new { @class = "form-control input-sm", placeholder = "Firstname here . . ." })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model[i].Middlename, new { @class = "form-control input-sm", placeholder = "Middle name here . . ." })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model[i].MobileNumber, new { @class = "form-control input-sm", placeholder = "Mobile number here . . .", type = "phone" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model[i].EmailAddress, new { @class = "form-control input-sm", placeholder = "Email Address here . . .", type = "email" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</p>

