@model App.Web.Models.FintechModel

<p>
    <strong>
        Basic Details <img id="loading-spinner" src="@Url.Content("~/assets/images/me.gif")" style="display: none;" />
    </strong>
    <div class="alert alert-fill-info" role="alert">
        <i class="mdi mdi-alert-circle"></i>
        NB: Fields marked <span style="color: red">*</span> are compulsory.
    </div>
</p>
<p>
    <div class="row">
        <div class="col-md-3" id="divCorporateName">
            <div class="form-group">
                <label for="">
                    Corporate Name <span style="color: red">*</span>
                </label>
                @Html.TextBoxFor(model => model.CorporateName, new { @class = "form-control input-sm", id = "CorporateName", placeholder = "What is the Corporate Name of the FINTECH?" })
            </div>
        </div>
        <div class="col-md-3" id="divOfficialEmailAddress">
            <div class="form-group">
                <label for="">
                    Official Email Address <span style="color: red">*</span>
                </label>
                @Html.TextBoxFor(model => model.OfficialEmailAddress, new { @class = "form-control input-sm", id = "OfficialEmailAddress", placeholder = "What is their Oficial Email Address?", type = "email" })
            </div>
        </div>
        <div class="col-md-3" id="divHeadOfficeAddress">
            <div class="form-group">
                <label for="">
                    Head Office Address
                </label>
                @Html.TextAreaFor(model => model.HeadOfficeAddress, new { @class = "form-control input-sm", id = "HeadOfficeAddress", placeholder = "Do they have Head Office Address?" })
            </div>
        </div>
        <div class="col-md-3" id="divRelationshipManagerStaffId">
            <div class="form-group">
                <label for="">
                    Relationship Manager Staff ID <span style="color: red">*</span>
                </label>
                @Html.TextBoxFor(model => model.RelationshipManagerStaffId, new { @class = "form-control input-sm", id = "RelationshipManagerStaffId", placeholder = "What is the Relationship Manager Staff ID?" })
            </div>
        </div>
        <div class="col-md-3" id="divRelationshipManagerSurname">
            <div class="form-group">
                <label for="">
                    Relationship Manager Surname <span style="color: red">*</span>
                </label>
                @Html.HiddenFor(model => model.RelationshipManagerPerson.Surname, new { @class = "form-control input-sm", id = "RelationshipManagerSurname", placeholder = "RM Surname here . . ." })
            </div>
        </div>
        <div class="col-md-3" id="divRelationshipManagerFirstname">
            <div class="form-group">
                <label for="">
                    Relationship Manager Firstname <span style="color: red">*</span>
                </label>
                @Html.HiddenFor(model => model.RelationshipManagerPerson.Firstname, new { @class = "form-control input-sm", id = "RelationshipManagerFirstname", placeholder = "RM Firstname here . . ." })
            </div>
        </div>
        <div class="col-md-3" id="divRelationshipManagerMiddlename">
            <div class="form-group">
                <label for="">
                    Relationship Manager Middlename
                </label>
                @Html.HiddenFor(model => model.RelationshipManagerPerson.Middlename, new { @class = "form-control input-sm", id = "RelationshipManagerMiddlename", placeholder = "RM Middlename here . . ." })
            </div>
        </div>
        <div class="col-md-3" id="divRelationshipManagerMobileNumber">
            <div class="form-group">
                <label for="">
                    Relationship Manager MobileNumber
                </label>
                @Html.HiddenFor(model => model.RelationshipManagerPerson.MobileNumber, new { @class = "form-control input-sm", id = "RelationshipManagerMobileNumber", placeholder = "RM Mobile Number here . . ." })
            </div>
        </div>
        <div class="col-md-3" id="divRelationshipManagerEmailAddress">
            <div class="form-group">
                <label for="">
                    Relationship Manager Email
                </label>
                @Html.HiddenFor(model => model.RelationshipManagerPerson.EmailAddress, new { @class = "form-control input-sm", id = "RelationshipManagerEmailAddress", placeholder = "RM Email Address here . . .", type = "email" })
            </div>
        </div>
        <div class="col-md-3" id="divRelationshipManagerSolId">
            <div class="form-group">
                <label for="">
                    Relationship Manager Sol ID
                </label>
                @Html.HiddenFor(model => model.RelationshipManagerSolId, new { @class = "form-control input-sm", id = "RelationshipManagerSolId", placeholder = "RM Sol ID here . . ." })
            </div>
        </div>
        <div class="col-md-3" id="divRelationshipManagerSolName">
            <div class="form-group">
                <label for="">
                    Relationship Manager Sol Name
                </label>
                @Html.HiddenFor(model => model.RelationshipManagerSolName, new { @class = "form-control input-sm", id = "RelationshipManagerSolName", placeholder = "RM Sol Name here . . ." })
            </div>
        </div>
        <div class="col-md-3" id="divRelationshipManagerSolAddress">
            <div class="form-group">
                <label for="">
                    Relationship Manager Sol Address
                </label>
                @Html.HiddenFor(model => model.RelationshipManagerSolAddress, new { @class = "form-control input-sm", id = "RelationshipManagerSolAddress", placeholder = "RM Sol Address here . . ." })
            </div>
        </div>
        <div class="col-md-3" id="divAccountNumber">
            <div class="form-group">
                <label for="">
                    Account Number <span style="color: red">*</span>
                </label>
                @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control input-sm", id = "AccountNumber", placeholder = "What is their Receivable Account Number?" })
            </div>
        </div>
        <div class="col-md-3" id="divAccountName">
            <div class="form-group">
                <label for="">
                    Account Name <span style="color: red">*</span>
                </label>
                @Html.HiddenFor(model => model.AccountName, new { @class = "form-control input-sm", id = "AccountName", placeholder = "Account Name here . . ." })
            </div>
        </div>
        <div class="col-md-3" id="divFinacleTermId">
            <div class="form-group">
                <label for="">
                    Finacle Term ID <span style="color: red">*</span>
                </label>
                @Html.TextBoxFor(model => model.FinacleTermId, new { @class = "form-control input-sm", id = "FinacleTermId", placeholder = "What is their ID as created on Finacle?" })
            </div>
        </div>
        <div class="col-md-3" id="divFeeScale">
            <div class="form-group">
                <label for="">
                    Fee Scale <span style="color: red">*</span>
                </label>
                @Html.DropDownListFor(model => model.FeeScale, Model.FeeScaleSelectListItems, new { @class = "form-control input-sm" })
            </div>
        </div>
        <div class="col-md-3" id="divScaleValue">
            <div class="form-group">
                <label for="">
                    Scale Value <span style="color: red">*</span>
                </label>
                @Html.TextBoxFor(model => model.ScaleValue, new { @class = "form-control input-sm", id = "ScaleValue", placeholder = "Fee Scale Value here . . ." })
            </div>
        </div>
        <div class="col-md-3" id="divCapAmount">
            <div class="form-group">
                <label for="">
                    Cap Amount <span style="color: red">*</span>
                </label>
                @Html.TextBoxFor(model => model.CapAmount, new { @class = "form-control input-sm", id = "CapAmount", placeholder = "Cap Amount here . . ." })
            </div>
        </div>
        <div class="col-md-3" id="divQueryString">
            <div class="form-group">
                @Html.HiddenFor(model => model.UrlQueryString)
            </div>
        </div>
    </div>
</p>