@using App.DataModels.Models
@model App.Web.ViewModels.ViewFintechProfileViewModel

<div class="profile-header text-white  d-md-block">
    <div class="d-flex justify-content-around">
        <div class="profile-info d-flex justify-content-center align-items-md-center">
            <img class="rounded-circle img-xs" src="@Url.Content("~/Assets/images/samples/profile_page/logo/02.png")" alt="profile image">
            <div class="wrapper pl-4">
                <p class="profile-user-name">
                    @Model.FintechModel.CorporateName
                </p>
                <div class="wrapper d-flex align-items-center">
                    <p class="profile-user-designation">
                        @Model.FintechModel.OfficialEmailAddress<br />
                        @Model.FintechModel.HeadOfficeAddress
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="profile-body pt-0 pt-sm-4">
    <p>
        @if (Model.FintechModel != null)
        {
            <table class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <strong>
                            Fee Settings
                        </strong>
                    </tr>
                    <tr>
                        <th><strong>Account Number</strong></th>
                        <th><strong>Account Name</strong></th>
                        <th><strong>Finacle Term ID</strong></th>
                        <th><strong>Fee Scale</strong></th>
                        <th><strong>Scale Value</strong></th>
                        <th><strong>Cap Amount</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.FintechModel.AccountNumber
                        </td>
                        <td>
                            @Model.FintechModel.AccountName
                        </td>
                        <td>
                            @Model.FintechModel.FinacleTermId
                        </td>
                        <td>
                            @Model.FintechModel.FeeScale
                        </td>
                        <td>
                            @Model.FintechModel.ScaleValue
                        </td>
                        <td>
                            @Model.FintechModel.CapAmount
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </p>
    <br />
    <p>
        @if (Model.FintechModel != null)
        {
            <table class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <strong>
                            Relationship Manager
                        </strong>
                    </tr>
                    <tr>
                        <th><strong>Staff ID</strong></th>
                        <th><strong>Surname</strong></th>
                        <th><strong>Firstname</strong></th>
                        <th><strong>Middlename</strong></th>
                        <th><strong>Email Address</strong></th>
                        <th><strong>Sol ID</strong></th>
                        <th><strong>Sol Name</strong></th>
                        <th><strong>Sol Address</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.FintechModel.RelationshipManagerStaffId
                        </td>
                        <td>
                            @Model.FintechModel.RelationshipManagerPerson.Surname
                        </td>
                        <td>
                            @Model.FintechModel.RelationshipManagerPerson.Firstname
                        </td>
                        <td>
                            @Model.FintechModel.RelationshipManagerPerson.Middlename
                        </td>
                        <td>
                            @Model.FintechModel.RelationshipManagerPerson.EmailAddress
                        </td>
                        <td>
                            @Model.FintechModel.RelationshipManagerSolId
                        </td>
                        <td>
                            @Model.FintechModel.RelationshipManagerSolName
                        </td>
                        <td>
                            @Model.FintechModel.RelationshipManagerSolAddress
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </p>
    <br />
    <p>
        @if (Model.FintechOnBoardingDocumentsModels != null && Model.FintechOnBoardingDocumentsModels.Count > 0)
        {
            <table class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <strong>
                            On-boarding Documents
                        </strong>
                    </tr>
                    <tr>
                        <th><strong>Document Name</strong></th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.FintechOnBoardingDocumentsModels)
                    {
                        <tr>
                            <td>
                                @item.DocumentName
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.DocumentSavePath))
                                {
                                    <a href="@Url.Content(item.DocumentSavePath)" target="_blank">
                                        view and download document
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </p>
    <br />
    <p>
        @if (Model.FintechContactPersons != null && Model.FintechContactPersons.Count > 0)
        {
            <table class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <strong>
                            Contact Persons
                        </strong>
                    </tr>
                    <tr>
                        <th><strong>Surname</strong></th>
                        <th><strong>Firstname</strong></th>
                        <th><strong>Middlename</strong></th>
                        <th><strong>Mobile Number</strong></th>
                        <th><strong>Email Address</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.FintechContactPersons)
                    {
                        <tr>
                            <td>
                                @item.Surname
                            </td>
                            <td>
                                @item.Firstname
                            </td>
                            <td>
                                @item.Middlename
                            </td>
                            <td>
                                @item.MobileNumber
                            </td>
                            <td>
                                @item.EmailAddress
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </p>
</div>
