@using App.DataModels.Models
@model List<App.Web.Models.FintechModel>

@{
    var subMenuList = (from subMenu in CacheData.Submenus
                       join roleMenu in (List<rolemenu>)Session["RoleMenu"] on subMenu.id equals roleMenu.menu_sub_id
                       where subMenu.active_flag.Equals(true)
                       select new
                       {
                           id = subMenu.id,
                           display_name = subMenu.display_name,
                           access_name = subMenu.access_name,
                           main_menu_id = subMenu.main_menu_id,
                           url = subMenu.url,
                           active_flag = subMenu.active_flag,
                           arrangement_order = subMenu.arrangement_order,
                           display_flag = subMenu.display_flag
                       }).ToList();
}

<table id="order-listing" class="table table-striped table-hover table-responsive table-borderless">
    <thead>
        <tr>
            <th><strong>#</strong></th>
            <th><strong>Corporate Name</strong></th>
            <th><strong>Official Email Address</strong></th>
            <th><strong>Number of Contact Persons</strong></th>
            <th><strong>Created on</strong></th>
            <th><strong>By</strong></th>
            <th><strong>Approved on</strong></th>
            <th><strong>By</strong></th>
            <th><strong>Last Modified on</strong></th>
            <th><strong>By</strong></th>
            @if (subMenuList.Any(c => c.access_name.ToLower().Contains("edit existing fintech profile")) || subMenuList.Any(c => c.access_name.ToLower().Contains("view fintech profile")))
            {
                <th> &nbsp; </th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            var sn = 1;
        }
        @foreach (var item in Model)
        {
            <tr>

                <td>@(sn++).</td>
                <td>@item.CorporateName</td>
                <td>@item.OfficialEmailAddress</td>
                <td>
                    <label class="badge badge-info">
                        @item.NumberOfContactPersons
                    </label>
                </td>
                <td>@item.CreatedOn</td>
                <td>@item.CreatedBy</td>
                <td>@item.ApprovedOn</td>
                <td>@item.ApprovedBy</td>
                <td>@item.LastModifiedOn</td>
                <td>@item.LastModifiedBy</td>
                @if (subMenuList.Any(c => c.access_name.ToLower().Contains("edit existing fintech profile")) || subMenuList.Any(c => c.access_name.ToLower().Contains("view fintech profile")))
                {
                    <td>
                        <div class="btn-group-sm">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="caret">
                                    Options
                                </span>
                            </button>
                            <ul class="dropdown-menu" style="padding: 15px;">
                                @if (subMenuList.Any(c => c.access_name.ToLower().Contains("edit existing fintech profile")))
                                {
                                    <li class="text-center">
                                        <a href="@Url.Action("EditExistingFintechProfile", new { q= item.UrlQueryString})" title="Edit Profile">
                                            Edit Profile
                                        </a>
                                    </li>
                                }

                                @if (subMenuList.Any(c => c.access_name.ToLower().Contains("view fintech profile")))
                                {
                                    <li class="text-center">
                                        <a href="@Url.Action("ViewFintechProfile", new { q= item.UrlQueryString})" title="View Fintech Profile">
                                            View Profile
                                        </a>
                                    </li>
                                }

                                @if (subMenuList.Any(c => c.access_name.ToLower().Contains("view existing fintech contact persons")))
                                {
                                    if (item.NumberOfContactPersons > 0)
                                    {
                                        <li class="text-center">
                                        <a href="@Url.Action("ViewFintechContactPersons", new { q= item.UrlQueryString})" title="View Fintech Contact Person List">
                                            View Existing Contact Persons
                                        </a>
                                    </li>
                                    }
                                }

                                @if (subMenuList.Any(c => c.access_name.ToLower().Contains("add new fintech contact person")))
                                {
                                    <li class="text-center">
                                        <a href="@Url.Action("AddNewFintechContactPerson", new { q= item.UrlQueryString})" title="Add New Fintech Contact Person">
                                            Add New Contact Person
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>

</table>

