@model App.Web.Models.SalProfilingDetailsModel

<p>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Average Salary</strong>
                </label>
                <span class="form-control">
                    @Model.AverageSalary
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Max. Salary</strong>
                </label>
                <span class="form-control">
                    @Model.MaxSalaryValue
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Min. Salary</strong>
                </label>
                <span class="form-control">
                    @Model.MinSalaryValue
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Most Frequent Narration</strong>
                </label>
                <span class="form-control">
                    @Model.MostFrequentNarration
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Most Frequent Transaction Date</strong>
                </label>
                <span class="form-control">
                    @Model.MostFrequentTransactionDate
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>First Month</strong>
                </label>
                <span class="form-control">
                    @Model.FirstMonth
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Second Month</strong>
                </label>
                <span class="form-control">
                    @Model.SecondMonth
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Third Month</strong>
                </label>
                <span class="form-control">
                    @Model.ThirdMonth
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Fourth Month</strong>
                </label>
                <span class="form-control">
                    @Model.FourthMonth
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Fifth Month</strong>
                </label>
                <span class="form-control">
                    @Model.FifthMonth
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Sixth Month</strong>
                </label>
                <span class="form-control">
                    @Model.SixthMonth
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Source</strong>
                </label>
                <span class="form-control">
                    @Model.Source
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Inserted Date</strong>
                </label>
                <span class="form-control">
                    @Model.InsertedDate
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Is Valid BVN</strong>
                </label>
                <span class="form-control">
                    @Model.IsValidBvn
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>BVN Check Date</strong>
                </label>
                <span class="form-control">
                    @Model.BvnCheckDate
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Is Valid CRMS</strong>
                </label>
                <span class="form-control">
                    @Model.IsValidCRMS
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>CRMS Check Date</strong>
                </label>
                <span class="form-control">
                    @Model.CRMSCheckDate
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Is Valid CRC</strong>
                </label>
                <span class="form-control">
                    @Model.IsValidCRC
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>CRC Check Date</strong>
                </label>
                <span class="form-control">
                    @Model.CRCSCheckDate
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">

            </div>
        </div>
    </div>
</p>