
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Direct On-Us Portal :: Reset Password</title>

    <!-- plugins:css -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendors/css/vendor.bundle.base.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendors/css/vendor.bundle.addons.css")">

    <link rel="stylesheet" href="@Url.Content("~/Assets/css/style.css")">
    @*<link rel="shortcut icon" href="@Url.Content("~/Assets/images/favicon.png")" />*@

    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Assets/images/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Assets/images/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Assets/images/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/Assets/images/site.webmanifest")">

</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
                <div class="row w-100 mx-auto">
                    <div class="col-lg-4 mx-auto">
                        <h2 class="text-center mb-4">
                            Direct On-Us Portal
                        </h2>
                        <h5 class="text-center mb-4">
                            Reset Password
                        </h5>
                        <div class="auto-form-wrapper">
                            <form action="@Url.Action("ResetPassword")" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="q" value="@TempData["q"]" />
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" class="form-control" placeholder="New Password here . . ." autocomplete="off" name="newPassword">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-lock-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password here . . ." autocomplete="off" name="confirmNewPassword">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-lock-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary submit-btn btn-block">
                                        Reset
                                    </button>
                                </div>
                                <div class="text-block text-center my-3">
                                    <span class="text-small font-weight-semibold">Already reset password ?</span>
                                    <a href="@Url.Action("Login","Account")" class="text-black text-small">
                                        Login
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <script src="@Url.Content("~/Assets/vendors/js/vendor.bundle.base.js")"></script>
    <script src="@Url.Content("~/Assets/vendors/js/vendor.bundle.addons.js")"></script>
    <script src="@Url.Content("~/Assets/js/off-canvas.js")"></script>
    <script src="@Url.Content("~/Assets/js/hoverable-collapse.js")"></script>
    <script src="@Url.Content("~/Assets/js/misc.js")"></script>
    <script src="@Url.Content("~/Assets/js/settings.js")"></script>
    <script src="@Url.Content("~/Assets/js/todolist.js")"></script>
</body>
</html>
